*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #CAF0F8;
    color: #6D6875;
}

.content{
    height: 80vh;
}

header{
    background-color: #B7E4C7;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a{
    font-family:"Pacifico", cursive;
    font-size: 25px;
    text-decoration: none;
    color: #6D6875;
    padding: 20px;
}

h1{
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 5%;
}

.container{
    max-width: 40%;
    height: 500px;
    margin: auto;
    margin-top: 2%;
    border: 9px solid #B7E4C7;
    display: flex;
    flex-direction: column;
    align-items: end;
    overflow-y: auto;
}

.addTask{
    border: 1px solid #B7E4C7;
    border-radius: 0%;
    background-color: white;
    margin: 2%;
    margin-bottom: 5%;
    padding: 5px;

}

.addTask:hover{
    background-color: #B7E4C7;
}

.addTask:active{
    background-color:rgb(15, 180, 180);
}

.write-task{
    width: 100%;
    height: 8%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    gap : 10px;
}

.newTask{
    width: 80%;
    height: 100%;
    margin-left: 3%;
    border: #B7E4C7 solid 2px;
}

.newTask::placeholder{
    color: #6D6875;
}

.write-task button{
    width: 10% ;
    height: 100%;
    border: solid #B7E4C7 2px;
    background-color: white;
}

.plus{
    margin-right: 2%;
}

.write-task button:hover{
    background-color: #B7E4C7;
}

.write-task button:active{
    background-color: rgb(15, 180, 180);
}

.pTaskReplace{
    padding: 10px;
    width: 95%;
    text-align: left;
    margin-left: 2%;
}

.newtaskdiv{
    height: 100px;
    width: 100px;
}

.newD{
    height: 30px;
    width: 96%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
}
/* register */

.register-container{
    border: solid #B7E4C7 9px;
    height: 300px;
    max-width: 30%;
    margin: auto;
    margin-top: 3%;
}

.register-container h3{
    text-align: center;
    margin-top: 5%;
}

.register-form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-top: 10px;
}

.register-form input{
    width: 50%;
    height: 12%;
    border: #B7E4C7 solid 3px;
    text-align: center;
}

.register-form input::placeholder{
    text-align: center;
}

.register-form button{
    color: #6D6875;
    background-color:#B7E4C7;
    width: 27%;
    height: 15%;
    box-shadow: none;
}

/* login */

.login-container{
    border: solid #B7E4C7 9px;
    height: 250px;
    max-width: 30%;
    margin: auto;
    margin-top: 3%;
}

.login-container h3{
    text-align: center;
    margin-top: 5%;
}

.login-form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.login-form input{
    width: 50%;
    height: 15%;
    border: #B7E4C7 solid 3px;
    text-align: center;
}

.login-form input::placeholder{
    text-align: center;
}

.login-form button{
    color: #6D6875;
    background-color:#B7E4C7;
    width: 20%;
    height: 15%;
    box-shadow: none;
}

footer{
    background-color:#B7E4C7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}